.card-container {
  display: flex;
  justify-content: center;
  width: 400px;
  margin: 30px auto;
}

.card-title {
  color: #fff;
  height: 30em;
  background-image: linear-gradient(
      rgb(23, 95, 248, 0.5),
      rgba(23, 95, 248, 0.5)
    ),
    url(https://www.designmag.cz/foto/2014/12/ra-cave-digger-4.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.card-menu {
  color: #fff;
}

.card-actions {
}
